---
import * as about from "../pages/about/about.md";
---

<header
  class="row-gap-5 mb-5 flex flex-row flex-wrap items-center border-b-2 border-gray-400/30 md:mb-2"
>
  <div
    class="mr-5 mb-2 min-w-3 bg-purple-800 px-3 pt-3 pb-3 leading-none font-medium text-white uppercase print:bg-purple-800"
    aria-hidden="true"
  >
    {
      about.frontmatter.initials.map((initial: string) => (
        <div class="text-center text-xl">{initial}</div>
      ))
    }
  </div>
  <h1
    class="mr-auto pb-px text-3xl font-semibold text-gray-600 md:text-5xl lg:text-6xl print:text-3xl"
  >
    {about.frontmatter.name}
  </h1>

  <h2 id="industry-title" class="self-center">
    <code
      class="pb-px font-sans text-xl font-thin text-purple-700 md:text-2xl print:text-lg"
      role="heading"
      aria-level="1"
      aria-label={about.frontmatter.industryTitle}
      >&lt;&gt;`$&#123;{about.frontmatter.industryTitle}&#125;`&lt;/&gt;</code
    >
  </h2>
</header>
